*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html {
  font-size: 20px;

}

.app-name {
  font-weight: bolder;
  font-size: 150%;
  line-height: 3;
  color: whitesmoke;
}
.center-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.bg {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(147, 217, 151, 0.817) , rgb(56, 142, 60));
}

.btn {
  padding: 10px 30px;
  background: rgba(38, 117, 42, 0.812);
  border-radius: 30px;
  border: none;
  width: 300px;
  margin: 30px 0;
  font-weight: bold;
  cursor: pointer;
  color: whitesmoke;
}

.same-line {
  display: flex;
  align-items: center;
  gap: 30px;
}

.title {
  font-weight: bolder;
  font-size: 180%;
  line-height: 3;
  color: whitesmoke;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.linkActive {
  text-decoration: none;
  color: rgb(142, 37, 37);
  font-weight: bolder;
}

.link-hover:hover {
  padding: 10px 20px;
  background-color: rgb(130, 9, 9);
  color: white;
  border-radius: 5px 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: black;
}

.dropdown {
  position: absolute;
  top: 120%;
  right: 10px;
  width: 250px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 1;
  background: white;
  border-radius: 10px;
  text-align: left;

}

.logo {
  position: fixed;
  top: -15px;
  left: 15px;
}

.sideBar {
  position: fixed;
  top: 25vh;
  left: 10px;
  box-shadow: rgba(75, 6, 14, 0.621) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 60vh;
  width: 10vw;
  border-radius: 20px 20px;
  cursor: pointer;
  background: rgba(52, 190, 105, 0.29);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;

}

.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 20px 0;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;

}

.main-content {
  transform: translate(200px,200px);
  background: white;
  width: 80vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}

.form {
  background: rgba(81, 3, 7, 0.325);
  padding: 0px 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  color:rgba(243, 221, 223, 0.77);
}

.input {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 5px 5px 40px;
  background: rgba(189, 222, 203, 0.593);
  margin: 20px 0;
}

.icon-inside-input {
  position: absolute;
  margin: 27px 10px;
  
}

.dialog {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 300px;
  height: max-content;
  padding: 20px 25px;
  color: whitesmoke;
  font-weight: bolder;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  border-radius: 10px;
}

.error {
  background: rgb(147, 34, 34);
}

.success {
  width: 100%;
  background: rgb(11, 106, 40);
  color: whitesmoke;
}

// .container {
//   width: 100vw;
//   display: flex;
//   justify-content: flex-start;
//   height: 100vh;
//   gap: 30px;
// }

.container {
  background: transparent;
  width: 80vw;
  height: max-content;
  transform: translate(13vw, 15vh);
  padding: 0 20px 50px 20px;
}